<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for("static", filename='images/favicon.png') }}">

    <title>LiteFac欢迎您！</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fancybox/jquery.fancybox.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/customer.css') }}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>LiteFac, 专为制造业工厂定制!</h1>
        <img class='img-rounded' src="{{ url_for('static', filename='images/banner.svg') }}" alt="Generic placeholder image">
        <p>
        <a class="btn btn-lg btn-success" href="{{ demo_url }}" target='_blank'>在线演示</a>
        <small class='text-muted'><em>完整试用请下载<a data-toggle="modal" href="#myModal">手机客户端</a></em></small>
        </p>
      </div>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3">
          <img class='img-rounded' src="{{ url_for('static', filename='images/abc.png') }}" alt="Generic placeholder image">
          <h2>简单易用</h2>
          <p>和别的厂家不同, 我们专门为您的工厂进行开发定制, 只提供适应实际生产状况的解决方案。</p>
        </div>
        
        <div class="col-lg-3">
          <a class="fancybox" href="{{ url_for('static', filename='images/order_bird_view.png') }}" rel="group" title='订单视图'>
            <div class='feature-img' >
              <img src="{{ url_for('static', filename='images/2-action-search.png') }}" alt="" class='overlay'/>
              <img class="img-rounded" src="{{ url_for('static', filename='images/order_bird_view.png') }}" alt="Generic placeholder image">
            </div>
          </a>
          <h2>看到正在发生的</h2>
          <p>动态展示最核心复杂的流程</p>
        </div>
        <div class="col-lg-3">
          <a class="fancybox" href="{{ url_for('static', filename='images/production_overview.png') }}" rel="group" title='订单视图'>
            <div class='feature-img' >
              <img src="{{ url_for('static', filename='images/2-action-search.png') }}" alt="" class='overlay'/>
              <img class="img-rounded" src="{{ url_for('static', filename='images/production_overview.png') }}" alt="Generic placeholder image">
            </div>
          </a>
          <h2>回答您关心的数字</h2>
          <p>您也许对某些数据感到困惑,LiteFac会告诉您精确的数值,更可以按时发送到您的邮箱</p>
        </div>
        <div class="col-lg-3">
          <a class="fancybox" href="{{ url_for('static', filename='images/use_phone.png') }}" rel="group" title='原生应用和手机浏览效果'>
            <div class='feature-img' >
              <img src="{{ url_for('static', filename='images/2-action-search.png') }}" alt="" class='overlay'/>
              <img class="img-rounded" src="{{ url_for('static', filename='images/use_phone.png') }}" alt="Generic placeholder image">
            </div>
          </a>
          <h2>手机用用也不错</h2>
          <p>所有页面都针对手机适配，并为装卸货物, 操作工单应用场景提供原生应用以加快操作速度</p>
        </div>
      </div>

      <!-- FOOTER -->
      <footer>
      <p>&copy; 2013 杭州朴正软件技术有限公司. 
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/holder.js') }}"></script>
    <script src="{{ url_for('static', filename='fancybox/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $(".fancybox").fancybox();
          });
    </script>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">下载客户端</h4>
          </div>
          <div class="modal-body text-center">
            <p><img class='image-rounded text-center' src="{{ url_for('static', filename='assets/client_download_url_chart.png') }}" alt="" /></p>
            <p>或访问<a href="{{ client_download_url }}">{{ client_download_url }}</a></p>
            <p>支持如下试用账户:</p>
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>登录用户名</th>
                  <th>密码</th>
                  <th>角色</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>l</th>
                  <th>l</th>
                  <th>装卸工</th>
                </tr>
                <tr>
                  <th>cj2</th>
                  <th>cj2</th>
                  <th>车间2主任</th>
                </tr>
                <tr>
                  <th>101</th>
                  <th>101</th>
                  <th>101班组长</th>
                </tr>
                <tr>
                  <th>qi</th>
                  <th>qi</th>
                  <th>质检员</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>

