{% extends "base_layout.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>LiteFac, 专为制造业工厂定制!</h1>
    <img class='img-rounded' src="{{ url_for('static', filename='images/banner.png') }}" alt="Generic placeholder image">
  </div>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-3">
      <img class='img-rounded' src="{{ url_for('static', filename='images/abc.png') }}" alt="Generic placeholder image">
      <h2>轻松上手</h2>
      <p>我们专门为您的工厂进行开发定制, 只提供适应实际生产状况的<strong>清晰简单</strong>的解决方案。我们的经验证明: </p>
      <p><strong class='text-danger'>在一周以内， 您就可以将LiteFac应用起来</strong></p>
    </div>

    <div class="col-lg-3">
      <a class="fancybox" href="{{ url_for('static', filename='images/order_bird_view.png') }}" rel="group" title='订单视图'>
        <div class='feature-img' >
          <img class="img-rounded" src="{{ url_for('static', filename='images/order_bird_view.png') }}" alt="Generic placeholder image">
          <i class="fa fa-search-plus fa-2x overlay"></i>
        </div>
      </a>
      <h2>全流程管控</h2>
      <p>随着工厂规模的扩大， 您也许已经购买了一些管理软件，但仍然总觉得无法<strong class='text-danger'>将各个生产环节串接形成信息链？</strong>LiteFac的出发点就是帮助您真正洞悉自己的工厂。更妙的是，LiteFac尽可能以图形化的形式呈现给您</p> 
    </div>

    <div class="col-lg-3">
      <a class="fancybox" href="{{ url_for('static', filename='images/production_overview.png') }}" rel="group" title='产量报表'>
        <div class='feature-img' >
          <img class="img-rounded" src="{{ url_for('static', filename='images/production_overview.png') }}" alt="Generic placeholder image">
          <i class="fa fa-search-plus fa-2x overlay"></i>
        </div>
      </a>
      <h2>回答您关心的数字</h2>
      <p>您也许对某些数据感到困惑,LiteFac会对这些数据进行统计， 告诉您精确的数值,更可以按时发送到您的邮箱，您在家也可以时刻掌握您的工厂</p>
    </div>

    <div class="col-lg-3">
      <a class="fancybox" href="{{ url_for('static', filename='images/use_phone.png') }}" rel="group" title='原生应用和手机浏览效果'>
        <div class='feature-img' >
          <img class="img-rounded" src="{{ url_for('static', filename='images/use_phone.png') }}" alt="Generic placeholder image">
          <i class="fa fa-search-plus fa-2x overlay"></i>
        </div>
      </a>
      <h2>手机用用也不错</h2>
      <p>所有页面都针对手机适配，并为装卸货物, 操作工单应用场景提供原生应用以加快操作速度</p>
    </div>
  </div>

  <div class='row'>
    <div class="col-lg-3">
      <img class='img-rounded' src="{{ url_for('static', filename='images/guarantee.png') }}" alt="Generic placeholder image">
      <h2>请您绝对放心</h2>
      <ul class='list-unstyled'>
        <li>您可以免费试用45天</li>
        <li>付费后30天内可以无条件退款</li>
        <li>终身免费升级</li>
      </ul>
    </div>

    <div class="col-lg-3">
      <img class='img-rounded' src="{{ url_for('static', filename='images/as_your_need.png') }}" alt="Generic placeholder image">
      <h2>您只挑选您需要的</h2>
      <p>LiteFac的功能很丰富, 但<strong class='text-danger'>您可以只选择必要的功能模块</strong>, 更妙的是, 您随时可以选择更多的功能模块, 大多数情况下, 它们可以<strong class='text-danger'>立即融合到您现有的系统中!</strong></p>
    </div>

    <div class="col-lg-3">
      <img class='img-rounded' src="{{ url_for('static', filename='images/local_service.png') }}" alt="Generic placeholder image">
      <h2>更有专有服务!</h2>
      <p>也许您不放心将数据放在网络上, 我们可以为您部署专有的硬件, 更妙的是, 之前在网络上的数据<strong class='text-danger'>也会安全转移到您的专有服务中, 而这一切会在瞬间发生!</strong>
      </p>
    </div>

    <div class="col-lg-3 last-manifest">
      <h2>我们倾听您的声音!</h2>
      <p>
      LiteFac还很年轻, 可能暂时无法满足您现有的需求, 但是LiteFac正在蓬勃成长. </p>
      <p><strong>如果您有任何无法满足的需求, 恳请<a href="#">告诉我们</a>, 让我们有机会仍然为您提供服务!</strong></p>
      <p>
      <a class="btn btn-lg btn-success" href="{{ url_for('application_view') }}" target='_blank'>申请试用</a>
      </p>
      <p>
      <a class="btn btn-lg btn-success" href="{{ demo_url }}" target='_blank'>在线演示</a>
      </p>
      <small class='text-muted'><em>完整演示请下载<a data-toggle="modal" href="#myModal">手机客户端</a></em></small>
    </div><!-- /.col-lg-4 -->
  </div>

  <hr />
  
  <!-- FOOTER -->
  <footer>
    <p>&copy; 2013 杭州朴正软件技术有限公司. </p>
  </footer>

</div><!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">下载客户端</h4>
      </div>
      <div class="modal-body text-center">
        <p><img class='image-rounded text-center' src="{{ url_for('static', filename='assets/client_download_url_chart.png') }}" alt="" /></p>
        <p>或访问<a href="{{ client_download_url }}">{{ client_download_url }}</a></p>
        <p>支持如下试用账户:</p>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>登录用户名</th>
              <th>密码</th>
              <th>角色</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>l</th>
              <th>l</th>
              <th>装卸工</th>
            </tr>
            <tr>
              <th>cj2</th>
              <th>cj2</th>
              <th>车间2主任</th>
            </tr>
            <tr>
              <th>101</th>
              <th>101</th>
              <th>101班组长</th>
            </tr>
            <tr>
              <th>qi</th>
              <th>qi</th>
              <th>质检员</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block foot_block  %}
<script type="text/javascript">
  $(document).ready(function() {
      $(".fancybox").fancybox();
      });
</script>
{% endblock %}
