{% extends "base_layout.html" %}

{% block head_block %}
<style type="text/css">
  body {
    font-size: 1.8em;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <h1 class='text-success'>必须请您了解的&hellip;</h1>
  <div class="well">
  <p>任何一个组织中, 无论规模大小：</p>
  <ul>
    <li>通过人工传递的信息一定会失真，遗漏</li>
    <li>当信息到达一定量的时候， 人力一定掌握不了</li>
    <li>精细化管理必然建立在数字之上。 所有管理措施的改进必须建立在对现状的准确把握</li>
    <li>管理者/业务人员的精力是宝贵的， 不能浪费在琐事中</li>
  </ul>
  <p>实施过的信息化管理系统， 有成功有失败。 终于我们认识到：</p>
  <blockquote>信息化系统只是工具，它本身并不能产生价值。为了信息化而信息化对双方是两败俱伤， 只有经过认真分析您工厂中的问题, 对症下药，它才可能提供价值</blockquote>
  <p>在双方的共同努力下，通过LiteFac您可以期望获得如下的价值:</p>
  <ul>
    <li>信息的及时传递， 特别是针对一个较长长流程的时候</li>
    <li>信息的及时收集</li>
    <li>规范化流程和操作</li>
    <li>在上述基础上的管理措施改进</li>
    <li>在上述基础上，解放领导者和管理人员，让他们从事更有价值的活动</li>
  </ul>

  <p>幸运的是，收集工厂中一般问题的案例是我们最核心的工作之一，也是我们最宝贵的财富。我们很愿意和您一起，建立一个真正现代化的工厂！</p>

  <p>那么您也许担心, LiteFac究竟会多久才生效？和您认识的恰恰相反， 只要我们双方真正认清了问题所在，LiteFac能够很快产生效果。我们的工作方式是尽快交付使用，尽快反馈， 尽快改进。在许久的沉寂之后，突然出现完全切合您需求的系统， 只有在神话中存在。</p>
</div>
    <a href="{{ url_for('index') }}" class="btn btn-default btn-lg">返回首页</a>
  <hr />
  
  <!-- FOOTER -->
  <footer>
  <p><strong>&copy; 2013 杭州朴正软件技术有限公司, 电话: 0571-86711510; 手机: 18658168578(谢经理) </strong></p>
  </footer>
</div>
{% endblock %}
